<!DOCTYPE html>
<html lang="en">
<head>
  <title>Mozambique | OTP</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="bg-grey">
	<div class="login-block forgot-password">
		<div class="text-block">
			<h4 class="">Enter OTP</h4>
			<span class="mt10"></span>
		</div>
		<div class="fields">
			<form class="text-center">   
	       		<input type="text" value="" placeholder="Enter Code" id="code" class="mb10" >
	       		 <p class="validation">Invalid Email</p>
	       		<a class="inline-block align-top resend" href="">Resend Code</a>
	       		<div class="fix-text mt10">
				   
				    <a class="inline-block align-top link" href="professional-details.html">Verify</a>
			    	
			    </div>
	       	</form>	
		</div>
	</div>
</div>
</body>
</html>	

