<!DOCTYPE html>
<html lang="en">
<head>
  <title>Mozambique | Household detials</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="bg-grey">
	<div class="login-block forgot-password prof-details hous-details">
		<img src="../media/Leaves-blue.png" />
		<div class="text-block mb10">
			<h4 class="">House hold details</h4>			
		</div>
		<img src="../media/prof.png" />
		<a class="inline-block align-top resend text-center mt10" onclick="importData()">Upload profile picture</a>
		<div class="fields">
			<form class="text-center">   
       		 <input type="text" value="" placeholder="Size of family" id="Size of family" />
		    <input type="text" value="" placeholder="Number of Male child" id="Number of Male child" />
		    <input type="text" value="" placeholder="Number of Female child" id="Number of Female child" />
		   	<input type="text" value="" placeholder="Additional mobile number" id="Additional mobile number" />
		    
       			<a class="btn btn-link mt10" href="home.html">Submit</a>	
       		<a class="inline-block align-top resend text-center mt10" href="">Skip</a>
	       		
	       	</form>	
		</div>
	</div>

</div>
<script type="text/javascript">
	
	function importData() {
  let input = document.createElement('input');
  input.type = 'file';
  input.onchange = _ => {
    // you can use this method to get file and perform respective operations
            let files =   Array.from(input.files);
            console.log(files);
        };
  input.click();
  
}
</script>
</body>
</html>