<!DOCTYPE html>
<html lang="en">
<head>
  <title>Mozambique | Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="bg-img has-hidden">

<div class="login-block has-height">
	<div class="arrow">
		<img src="../media/Leaves-blue.png">
	</div>
	<div class="left-panel inline-block align-top w50 text-center">
		<div>
			<img src="../media/leaves.png">
		</div>
		<div class="text-block">
			<h4>Login</h4>
			<span>Welcome to Mozambique</span>
		</div>
		<p>From the farm to your table, connecting you with nature's bounty. </p>
	</div>
	<div class="right-panel inline-block align-top w50">	
		<form class="text-center">   
	   
	    <input type="text" value="" placeholder="Mobile Number" id="Mobile Number" />
	    <p class="validation">Invalid Number</p>
	    
	    
		<div class="fix-btn mt10">
	    	<a class="btn btn-link" href="enter-otp.html">Send OTP</a>	
		</div>
	    <div class="fix-text mt10">
		    <p class="inline-block align-top mr10">Already have an account? </p>
		    <a class="inline-block align-top" href="register.html">Register</a>
	    	
	    </div>
		</form>		
	</div>
</div>
</div>
</body>
</html>