<!DOCTYPE html>
<html lang="en">
<head>
  <title>Welcome to Mozambique</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body class="has-bg overflow-initial">

<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">
        <img src="../media/logo-panel.png"> 
      </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav">
       <li><a href="home.html">Framers</a></li>
      <li><a href="analytics-dashoard.html">Analytics</a></li>       
    </ul>
</div>
    <div class="pull-right profile">
      <img src="../media/pic.png" class="hide-show">
      <div class="bg-white">
        <div class="has-border">
          <img src="../media/pic.png" />
          <span>Farmer's Name</span>
        </div>
        <div class="has-details">
          <ul>
            <li><a href="organization-profile.html">View Profile</a></li>
            <li><a>Log Out</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
  

<div class="container organization-prof">
  <div class="row clearfix">
    <div class="col-sm-6">
      <div class="has-pic inline-block align-top w40 mt10">
        <img src="../media/pic.png" />
      </div>
      <div class="inline-block align-top w50 left-30">
        <h4>Organization’s  Name</h4>
        <p>Address: Address will come here, Address will come here, Address will come here. </p>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="inline-block align-top w50 left-30">
        <h4></h4>       
      </div>
      <div class="mt10">
        <div class="inline-block align-middle pr15">
          <a class="info">
            <img src="../media/location.png" />
            <span>location dummy data</span>
          </a>
          <a class="info" href="mailto:F@rmername@gmail.com">
            <img src="../media/mail.png" />
            <span>F@rmername@gmail.com</span>
          </a>
        </div>     
        <div class="inline-block align-middle">
            <a class="info">
              <img src="../media/call.png" />
              <span>+91 3738487239</span>
            </a>
            <a class="info" href="mailto:F@rmername@gmail.com">
              <img src="../media/call.png" />
              <span>+91 3738487239</span>
            </a>
        </div>        
      </div>
      
    </div>
  </div>
</div>

<div class="container title">
   <h4 class="mb10 title-mngnt">Management Team</h4>
  <div class="row clearfix">
    <div class="col-sm-6">      
      <div class="wrapper center-block">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading active" role="tab" id="headingOne">
            <div class="inline-block align-top w5 mt10 pl15">
              <img src="../media/pic.png" class="inline-block align-top" />
            </div>
            <h4 class="panel-title inline-block align-top w94">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
               Name of the person 1
              </a>
              <span class="inline-block align-top">Designation</span>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
               <div class="contact-info">
                  <a class="info" href="mailto:F@rmername@gmail.com">
                    <img src="../media/location.png" />
                    <span>F@rmername@gmail.com</span>
                  </a>
                   <a class="info" href="">
                    <img src="../media/mail.png" />
                    <span>+91 3738483555</span>
                  </a>
                </div>
                <div class="detailed-details mt30 w100">
                  <div class="icn-dep inline-block align-top w5">
                    <img src="../media/hat.png">
                  </div>
                  <div class="inline-block align-middle w94">
                    <p>2010-2012</p>
                    <p>Degree will come here</p>
                    <p>University will come here</p>

                  </div>
                </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <div class="inline-block align-top w5 mt10 pl15">
              <img src="../media/pic.png" class="inline-block align-top" />
            </div>
            <h4 class="panel-title inline-block align-top w94">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Name 2
              </a>
              <span class="inline-block align-top">Designation</span>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
               <div class="contact-info">
                  <a class="info" href="mailto:F@rmername@gmail.com">
                    <img src="../media/location.png" />
                    <span>F@rmername@gmail.com</span>
                  </a>
                   <a class="info" href="">
                    <img src="../media/mail.png" />
                    <span>+91 3738483555</span>
                  </a>
                </div>
                <div class="detailed-details mt30 w100">
                  <div class="icn-dep inline-block align-top w5">
                    <img src="../media/hat.png">
                  </div>
                  <div class="inline-block align-middle w94">
                    <p>2010-2012</p>
                    <p>Degree will come here</p>
                    <p>University will come here</p>

                  </div>
                </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingThree">
           <div class="inline-block align-top w5 mt10 pl15">
              <img src="../media/pic.png" class="inline-block align-top" />
            </div>
            <h4 class="panel-title inline-block align-top w94">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
               Name 3
              </a>
              <span class="inline-block align-top">Designation</span>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
            <div class="contact-info">
                  <a class="info" href="mailto:F@rmername@gmail.com">
                    <img src="../media/location.png" />
                    <span>F@rmername@gmail.com</span>
                  </a>
                   <a class="info" href="">
                    <img src="../media/mail.png" />
                    <span>+91 3738483555</span>
                  </a>
                </div>
                <div class="detailed-details mt30 w100">
                  <div class="icn-dep inline-block align-top w5">
                    <img src="../media/hat.png">
                  </div>
                  <div class="inline-block align-middle w94">
                    <p>2010-2012</p>
                    <p>Degree will come here</p>
                    <p>University will come here</p>

                  </div>
                </div>  
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function(){
  $(".bg-white").hide();
 
  $(".hide-show").click(function(){
    $(".bg-white").toggle();
  });
 /**/
   $('.panel-collapse').on('show.bs.collapse', function () {
    $(this).siblings('.panel-heading').addClass('active');
  });

  $('.panel-collapse').on('hide.bs.collapse', function () {
    $(this).siblings('.panel-heading').removeClass('active');
  });
});
</script>
</body>
</html>