<!DOCTYPE html>
<html lang="en">
<head>
  <title>Mozambique | Proffesional Details</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="bg-grey">
	<div class="login-block forgot-password prof-details">
		<img src="../media/Leaves-blue.png" />
		<div class="text-block">
			<h4 class="">Professional details</h4>			
		</div>
		<div class="fields">
			<form class="text-center">   
       		 <input type="text" value="" placeholder="Training details" id="Training details" />
		    <input type="text" value="" placeholder="Professional details" id="Professional details" />
		    <input type="text" value="" placeholder="Email address" id="Email address" />
		   	<input type="text" value="" placeholder="Total area" id="Total area" />
		    <input type="text" value="" placeholder="Planted area" id="Planted area" />
		    <input type="text" value="" placeholder="Number of trees" id="Number of trees" />
       		<a class="btn btn-link mt10" href="house-hold-details.html">Submit</a>	
	       		
	       	</form>	
		</div>
	</div>

</div>
</body>
</html>