<!DOCTYPE html>
<html lang="en">
<head>
  <title>Mozambique | Resgister</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="bg-img">

<div class="login-block">
	<div class="arrow">
		<img src="../media/arrow.png">
	</div>
	<div class="left-panel inline-block align-top w50 text-center">
		<div>
			<img src="../media/leaves.png">
		</div>
		<div class="text-block">
			<h4>Registration</h4>
			<span>Welcome to Mozambique</span>
		</div>
		<p>From the farm to your table, connecting you with nature's bounty. </p>
	</div>
	<div class="right-panel inline-block align-top w50">	
		<form class="text-center">   
	    <input type="text" value="" placeholder="Full name" id="Full name" />
	    <input type="text" value="" placeholder="Mobile number" id="Mobile number" />
	    <input type="text" value="" placeholder="Email address" id="Email address" />
	    <p class="validation">Invalid Email</p>
	    <input type="password" value="" placeholder="Password" id="password" />
	    <input type="text" value="" placeholder="Confirm password" id="Confirm password" />
	    <select>
		    <option value="" selected disabled>Gender</option>
		    <option value="">Male</option>
		    <option value="">Female</option>
		    <option value="">Other</option>
		</select>
	    <input type="text" value="" placeholder="National ID" id="National ID" />
	    <textarea placeholder="Address" rows="" resize="no"></textarea>
	     <select>
		    <option value="" selected disabled>Region</option>
		    <option value="R1">R1</option>
		    <option value="R2">R2</option>
		    <option value="R3">R3</option>
		</select>		
		<div class="fix-btn">
	    	<button class="">Submit</button>	
		</div>
	    <div class="fix-text mt10">
		    <p class="inline-block align-top mr10">Already have an account? </p>
		    <a class="inline-block align-top" href="login.html">Login</a>
	    	
	    </div>
		</form>		
	</div>
</div>
</div>
</body>
</html>