
header {
    position: fixed;
    left: 0px;
    right: 0px;
    z-index: 99999;
    background: #00000091;    
    transition: all 0.2s ease-in-out;
    &.sticky-header {
        background: $black;
        @include transition(0.3 ease-in-out);
        @include box-shadow(0 1px 5px rgba(0, 0, 0, 0.25));
        max-height: 60px;
    }
    .header-wrapper{        
        padding:0 15px;
        width:100%;
    }
    .logo-content,.toggle-icn{
        width: 50%;
    }
    .logo {
        height: 60px;
        cursor: pointer;
        @include flexstyle(flex, flex-start, center);
        position: relative;
        z-index: 999;
        max-width: 160px;
        img {
            max-width: 100%;
            max-height: 95px;
            height: auto;
            border:none;
        }
    }
    .menu-toggle {
        display: block;
        float: right;       
        line-height: 60px;
        position: relative;
        z-index: 9999;
        cursor: pointer;
        i {
            font-size: 20px;
            display: inline-block;
            height: 2px;
            background: $white;
            width: 30px;
            line-height: 40px;
            position: relative;
            @include transition(0.3s ease-out);
            &:before {
                position: absolute;
                top: 7px;
                content: "";
                height: 2px;
                background: $white;
                width: 30px;
                @include transition(0.3s ease-out);
            }
            &:after {
                position: absolute;
                top: -7px;
                content: "";
                height: 2px;
                background: $white;
                width: 30px;
                @include transition(0.3s ease-out);
            }
            &.toggle-icon {
                background: transparent;
                @include transition(0s ease-in);
                &:before {
                    @include transform( rotate(45deg));
                    top: 0px;
                    @include transition(0.3s ease-out);
                }
                &:after {
                    @include transform( rotate(135deg));
                    top: 0px;
                    @include transition(0.3s ease-out);
                }
            }
        }
    }
    .menu {
         
           width: 100%;
             position: relative;
             top: -60px; 
            left: 0; 
            right: 0;
            z-index: 999;           
            box-shadow: none;
            padding-top: 0px;
            border-bottom: none;          
           &.toggle-menu{           
            background: #000000eb;     
           }
    }
    .parent-menu {
        margin-top: 0px;
        display: none;     
        padding-top: 0px;
        z-index: 99;
        background: $white;
        border-bottom: 1px solid $font-color;
         position: relative;            
          background: none;
          border-bottom: none; 
          @include transition(0.3s ease-out);              
          &.parent-menutoggle{               
                top:0;
                height: 100vh;              
                 @include display-flex;
                @include align-items(center);
                @include justify-content(center);
                @include flex-direction(column);
               @include transition(0.3s ease-in);
              }
       > li {
            float: none;
            position: relative;
            display: block;
            margin:  10px 0px;
            text-align: center;
            @include transition(0.3s ease-out);
            
            .sub-menu > li a{
                font-size: 14px;
                color: #c4c4c4;
                padding: 5px 10px;
                display: inline-block;
                font-weight: normal;
                &:hover{
                    color: #716d6d;
                }
            }
           > a {
                    font-size: 20px;
                    color: $white;
                    padding: 0px;
                    position: relative;
                    &:after {
                        position: absolute;
                        left: 0px;
                        width: 0px;
                        background: $white;
                        height: 1px;
                        content: "";
                        top: 50%;
                    }
                }
                &:hover,
                &.active {
                    background: none;
                    a {
                        color: $white;
                        &:after {
                            width: 100%;
                            @include transition(0.3s ease-out);
                        }
                    }
                }
                &.contact-li {
                    a {
                        padding: 15px 20px;
                        border: 1px solid $white;
                    }
                    &:hover,
                    &.active {
                        background: none;
                        a {
                            border-bottom-width: 1px;
                            background: $white;
                            color: $theme-color;
                            &:after {
                                display: none;
                            }
                        }
                    }
                }
                &:last-child {
                    margin-right: 0px;
                }
        }
    }
}


@media(min-width:768px) {
    header {
          &.sticky-header {           
            max-height: 70px;
        }
        .header-wrapper{
            padding: 0 18px;
         }
        .menu{
            top:-70px;
        }
        .menu-toggle{
            line-height: 70px;
        }
        .logo {
            height: 70px;
            img{
                max-height: 115px;
            }
        }
         .parent-menu {           
            li{
                a{
                    font-size: 30px;
                }
            }
        }      
    
    }
}

@media(min-width:992px) {
    header {       
        .parent-menu {            
            li {
                a{
                    font-size: 35px;
                }
                &.contact-li {
                    a {
                        padding: 15px 30px;
                    }
                }
            }
        }
    }
}

@media(min-width:1200px) {
    header {
         &.sticky-header {           
            max-height: 100px;
        }
        .header-wrapper{
            padding: 0 50px;
         }
        .menu{
            top:-100px;
        }
        .menu-toggle{
            line-height: 100px;
            margin-right:0;
        }
        .logo {
            height: 100px;
            img {
                max-height: 100%;
            }
        }
        .parent-menu {           
            li {
                
               a{
                 font-size: 40px;
               }
            }
        }
    }
}

@media(min-width:1600px) {
    header {         
        .parent-menu {            
            li {
                
               a{
                 font-size: 50px;
               }
            }
        }
    }
}